  .editorInput {
      --Input-focusedHighlight: #ffffff !important;
      --Input-focusedThickness: 1px !important;
      --Input-minHeight: 2.1rem !important;
  }

  .slider-thumb:hover {
      box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.1);
  }

  .slider-thumb:active {
      box-shadow: 0 0 0 14px rgba(255, 255, 255, 0.1);
  }


  .css-1gw9vc6-JoyInput-input {
      text-align: end;
  }

  .editorDoneButton {
      position: relative !important;
      margin-top: 55px !important;
      border-radius: 50px !important;
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      padding-left: 45px !important;
      padding-right: 45px !important;
      font-weight: 500 !important;
      background: white !important;
      color: black !important;
      transition: 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
  }

  .editorDoneButton:hover {
      transform: scale(1.4);
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
  }

  .editorActive{
    animation: showAnimation 0.5s cubic-bezier(0.65, 0, 0.35, 1) 0s 1 normal forwards;
  }

  .editorDisabled{
    animation: hideAnimation 0.5s cubic-bezier(0.65, 0, 0.35, 1) 0s 1 normal forwards;
  }

  @keyframes hideAnimation {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(250px);
	}
}

@keyframes showAnimation {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.editorDoneButtonBlack {
    position: relative !important;
    margin-top: 55px !important;
    border-radius: 50px !important;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 45px !important;
    padding-right: 45px !important;
    font-weight: 500 !important;
    background: white !important;
    color: black !important;
    transition: 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
    width: fit-content;
  }
  
  .editorDoneButtonBlack:hover {
    transform: scale(1.4);
  }
  
  .editorDoneButtonWhite {
    position: relative !important;
    margin-top: 55px !important;
    border-radius: 50px !important;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 45px !important;
    padding-right: 45px !important;
    font-weight: 500 !important;
    background: rgba(255, 255, 255, 0) !important;
    color: rgb(255, 255, 255) !important;
    transition: 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
    width: fit-content;
  }
  
  .editorDoneButtonWhite:hover {
    text-decoration: underline;
  }

  .infoInput::placeholder {
    color: #ffffff85;
}