.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.container .unityWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container .unityWrapper .loadingBar .loadingBarFill {
  height: 6px;
  border-radius: 5px;
  margin: 2px;
  background: #ffffff;
  transition: 0.3s width ease-out;
}

.container .unityWrapper canvas {
  width: 100%;
  height: 100%;
}

.container .screenshots {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}


.unity-mobile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.unity-mobile .unityWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.unity-mobile .unityWrapper .loadingBar .loadingBarFill {
  height: 6px;
  border-radius: 5px;
  margin: 2px;
  background: #ffffff;
  transition: 0.3s width ease-out;
}

.unity-mobile .unityWrapper canvas {
  width: 100%;
  height: 100%;
}

.unity-mobile .screenshots {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}


#react-unity-webgl-canvas-2{
  width: 100%;
  height: 100%;
  position: absolute;
}


.css-5qj67h-JoyLinearProgress-root {
  color: #ffffff;
  background-color: #000000;
}

.css-1ra8a6i {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  position: absolute;
  gap: 16px;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.css-1f06wdo-JoyTooltip-root {
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 2px 10px);
}

.css-1iw76k2-JoyTooltip-root {
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 2px 10px);
}

.css-vax6ve-JoyTooltip-root {
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 2px 10px);
}

.css-15jltqh-JoyTooltip-root {
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 2px 10px);
}


.css-1f06wdo-JoyTooltip-root:hover {
  filter: drop-shadow(1px 23px 32px #000);}

.css-1iw76k2-JoyTooltip-root:hover {

  filter: drop-shadow(1px 23px 32px #000);}

.css-vax6ve-JoyTooltip-root:hover {

  filter: drop-shadow(1px 23px 32px #000);}

.css-15jltqh-JoyTooltip-root:hover {

  filter: drop-shadow(1px 23px 32px #000);}


.dockButtons {
  background-color: rgba(0, 0, 0, 0.250)!important;
  border-radius: var(--IconButton-radius, var(--joy-radius-sm, 50px));
  transition: .2s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
}

.dockButtons:hover {
  background-color: rgba(0, 0, 0, 0.250) !important;
  border-radius: var(--IconButton-radius, var(--joy-radius-sm, 50px));
  transform: scale(1.25);
  box-shadow: 0 16px 48px 0 rgba(0,0,0,.24);
} 

.css-i4bv87-MuiSvgIcon-root {
  font-size: 1.6rem;
}

.css-i4bv87-MuiSvgIcon-root:focus {
  font-size: 1.6rem;
  color: #000;
}

.MuiSvgIcon-root {
  transition: .2s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00000038;
}

.favButton {
  font-size: 2em;
  color: #ffffff;
  transition: .2s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
}

.favButton:hover .favIcon {
  display: none!important;

}

.favButton:hover .favIconFilled{
  color: red;
  display: block!important;
}

.favButton:active .favIconFilled{
  color: red;
  display: block!important;
}

.favGrid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.favButton:active .favIcon{
  display: none!important;
}

.loaderText {
  position: relative!important;
  bottom: 60px!important;
  font-weight: 900!important;
  font-size: 4em!important;

}

.avatarContainer{
  position: absolute;
}

.avatar-container {
  bottom: 15px;
  position: relative;
  gap: 8px;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.descContainer {
  position: relative;
  top: 15px;
  gap: 8px;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;

}

.loaderAvatarText{
  font-size: 1.25rem!important;
    font-weight: 760!important;
}


.favIcon {
  transition: .2s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
  position: relative;
  top: 5px!important;
  font-size: 3em!important;
  color: #ffffff;
  bottom: 3px;

}

.favIconFilled {
  transition: .2s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
  display: none!important;
  position: relative;
  top: 5px!important;
  font-size: 3em!important;
  color: #ffffff;
  bottom: 3px;

}

.favButton:hover {
  background-color: #00000000!important;

}

.avatardesc {
  width: 12px;
  height: 12px;
}

.avatarAltText {
  position: relative;
  font-weight: 100;
  color: #ffffff80!important;
}

.communityguideAlt {
  color: #fff!important;
  text-decoration: underline;
}

html, body {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 40em) {
  .loadergrid1 {
    bottom: 35px!important;
    margin: 15px!important;
    left: 0px!important;

  }

  /* .avatarGridAlt {
    width: 78px;
    height: 78px;
  }

  .mainGrid2{
    display: none;
    position: absolute;
  }

  .box{
    
  }

  .avatarIcons {
    padding: 0px!important;
}

  .responsiveGrid{
    width: 100%!important;
  } */
  
}


.spacer50px {
  height: 50px;
  width: 100%;
}

.box{
  z-index: 5;
  position: absolute;
  background-color: white;
  max-width: 405px;
  max-height: 700px;
  min-height: 100px;
  border-radius: 25px;
  box-shadow: 0 32px 48px rgba(0,0,0,.25);
  padding: 32px;
}

.avatarSelectorTitle {
  position: relative!important;
  width: 100%;
  place-content: flex-start center!important;
  display: flex!important;
  flex-flow: row wrap!important;
  font-weight: 900;
  font-size: 1.5rem!important;
}

.avatarInput {
  padding: 12px;
  border-color: #3d3d3d!important;
  top: 15px;
  --variant-borderWidth: 2px!important;
  --Input-focusedHighlight: #000000!important;
  --Input-focusedThickness: var(--joy-focus-thickness, 3px)!important;
}


::-webkit-scrollbar {
  width: 5px;
  border-radius: 25px;
}
 
::-webkit-scrollbar-thumb {
  background: #1f1f1f; 
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 25px; 
} 

.avatarIcons {
  padding: 10px!important;
  left: 0px!important;
  top: 20px!important;
  position: relative!important;
  overflow: auto;
  height: 380px!important;

}

.avatarGridItems{
  width: 90px;
  height: 90px;
  background-color: #ffffff00!important;
  transition: .2s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
}

.avatarGridItems:hover{
  transform: scale(1.1);
}

.avatarGridItems:focus{
  transform: scale(1.1);
  border-style: solid!important;
  border-color: #3e3e3e!important;
}


.avatarGrid {
  padding: 3px;
}


.avatarGridAlt {
  width: 90px!important;
  height: 90px!important;
}

.loadLeaveButton {
  transition: .2s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
}

.loadLeaveButton:hover {
  transform: scale(1.05);
  border-color: #fff!important;
  box-shadow: 0 16px 48px 0 rgba(0,0,0,.24);
  
  
}

.loadStartButton {
  transition: .2s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
}



.loadStartButton:hover {
  transform: scale(1.05);
  box-shadow: 0 16px 48px 0 rgba(0,0,0,.24);
}

.avatarProgressBar {
  margin-top: -105px;
  margin-left: -105px;
  position: absolute!important;
  z-index: 15;
  --CircularProgress-trackColor: black!important;
  --CircularProgress-progressColor: white!important;
}

.holder {
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: 15;
}

.photonConnect {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-color: #000000;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.responsiveGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.loader-progress{
  color: var(--joy-palette-neutral-softColor, var(--joy-palette-neutral-800, #ffffff))!important;
  background-color: var(--joy-palette-neutral-softBg, var(--joy-palette-neutral-100, #b4b4b4))!important;
}

.loader-progress-success{
  color: var(--joy-palette-neutral-softColor, var(--joy-palette-neutral-800, #0f5d26))!important;
  background-color: var(--joy-palette-neutral-softBg, var(--joy-palette-neutral-100, #000000))!important;
}


